<header class="header header-section" data-page="home">
  <div class="container header-container">
    <div class="header-logo">
      <div class="header-logo__link">
        <a class="header__link" href="./index.html">
          <svg class="bob" width="24" height="24">
            <use href="./images/icon/Logo-mobile.svg#icon-film"></use>
          </svg>
        </a>
        <a class="logo-name" href="./index.html">Film progect</a>
      </div>

      <div class="header-button">
        <a class="header__link-btn btn-home current" href="./index.html"
          ><button class="header__btn" type="button">Home</button></a
        >
        <a class="header__link-btn btn-libryary" href="./libryary.html"
          ><button class="header__btn" type="button">My libruary</button></a
        >
      </div>
    </div>
    <div class="header-form">
      <form class="header__form-search" autocomplete="off">
        <input
          class="header__input"
          type="text"
          name="search"
          placeholder="Movie search"
        />
        <button class="header-btn" type="submit">
          <svg class="btn-icon" width="20" height="20">
            <use href="./images/icon/search_icon.svg#lupa"></use>
          </svg>
        </button>
      </form>
    </div>

    <h3 class="text-empty"></h3>
    <!-- <div class="load">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div> -->
  </div>
</header>
