<header class="header header-section" data-page="libruary">
  <div class="container header-container">
    <div class="header-logo">
      <div class="header-logo__link">
        <a class="header__link" href="./index.html">
          <svg class="bob" width="24" height="24">
            <use href="./images/icon/Logo-mobile.svg#icon-film"></use>
          </svg>
        </a>
        <a class="logo-name" href="./index.html">Film progect</a>
      </div>

      <div class="header-button">
        <a class="header__link-btn btn-home" href="./index.html"
          ><button class="header__btn" type="button">Home</button></a
        >
        <a class="header__link-btn btn-libryary current" href="./libryary.html"
          ><button class="header__btn btn-lib" type="button">
            My libruary
          </button></a
        >
      </div>
    </div>
    <div class="header-form">
      <button class="header__btn-libryary btn-Watched" type="button">
        Watched
      </button>
      <button class="header__btn-libryary btn-Queue" type="button">
        queue
      </button>
    </div>
  </div>
</header>
