<div class="container gallery-section">
  <ul class="gallery gallery-container libruary-conteiner">
    <!-- <li class="gallery-box">
      <div class="gallery-card">
        <img
          class="gallery-img"
          src="./images/sinema-empty.jpg"
          alt=""
          loading="lazy"
        />
      </div>
      <h1 class="gallery-title">Title</h1>
      <div class="gallery-info">
        <p class="gallery-ganre">Ganre,</p>
        <p class="gallery-year">Year</p>
        <p class="gallery-average">Average</p>
      </div>
    </li>
     -->
  </ul>
</div>
