<div class="pagination pagination-section">
  <div class="pagination pagination-container ul">
    <button type="button" class="pagination-arrow arrow-left block">
      &#x2190;
    </button>
    <button type="button" class="pagination-number block page1">1</button>
    <button type="button" class="block-point">&#x22EF;</button>
    <button type="button" class="pagination-number block page2">2</button>

    <button type="button" class="pagination-number current-block page3">
      3
    </button>
    <button type="button" class="pagination-number block page4">4</button>

    <button type="button" class="block-point">&#x22EF;</button>
    <button type="button" class="pagination-number block page5">end</button>
    <button type="button" class="pagination-arrow arrow-right block">
      &#x2192;
    </button>
  </div>
</div>
